@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

ul, li {
  list-style: none;
}

html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 365px) {
  html {
    font-size: 48.66667px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

a {
  text-decoration: none;
}

#bg_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 13.3rem;
  background-image: url(../imgs/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

img {
  border: none;
}

.sp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.sp .spimg {
  height: 13.3rem;
}

#bg_play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 13.3rem;
  background-color: rgba(95, 98, 101, 0.55);
  z-index: 2;
  overflow: hidden;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 2;
  height: 13.3rem;
  overflow: hidden;
  padding-top: 0.23rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-bottom: 0.31rem;
}

#container .back {
  font-family: "iconfont" !important;
  font-size: 36px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 0.4rem;
  left: 0.2rem;
}

#container .name_list {
  display: inline-block;
  margin-top: 0;
  width: 300px;
  margin-left: 0.7rem;
}

#container .name_list .gename {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  height: 30px;
  overflow: hidden;
  text-align: center;
  width: 300px;
}

#container .name_list .name {
  font-size: 18px;
  color: #c0c2c2;
  text-align: center;
  margin-top: 0.2rem;
}

#container .min {
  width: 5.32rem;
  height: 5.32rem;
  background: red;
  border-radius: 50%;
  border: 20px solid #434142;
  margin-top: 1.62rem;
  margin-left: 0.7rem;
}

#container .min .tu {
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 50%;
  text-align: center;
  margin-left: -0.2rem;
  margin-top: -0.18rem;
  transform: rotate(0);
  transform-origin: center center;
  overflow: hidden;
  background-size: cover;
}

#container .progress {
  width: 5.2rem;
  height: 0.07rem;
  background: #a0a19e;
  border-radius: 5px;
  margin-top: 2.7rem;
  margin-left: 0.9rem;
  position: relative;
}

#container .progress .progressed {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightpink;
  width: 0px;
  height: 0.07rem;
  border-radius: 5px;
}

#container .progress .cirle {
  width: 0.4rem;
  height: 0.4rem;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -0.2rem;
}

#container .current {
  position: absolute;
  left: 0.2rem;
  top: 11.1rem;
  color: #FFFFFF;
}

#container .duration {
  position: absolute;
  right: 0.2rem;
  top: 11.1rem;
  color: #FFFFFF;
}

#container .botk {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 6.5rem;
  height: 1.4rem;
  margin-top: 0.3rem;
  float: left;
  position: relative;
}

#container .botk div {
  font-family: "iconfont";
  color: #fff;
  position: absolute;
  font-size: 0.8rem;
  width: auto;
  height: auto;
  line-height: 1.4rem;
}

#container .botk div.prev {
  left: 1.1rem;
}

#container .botk div.play {
  left: 50%;
  margin-left: -0.6rem;
  font-size: 1.2rem;
}

#container .botk div.next {
  right: 1.1rem;
}

#container .botk div.list {
  right: 0;
  font-size: 0.48rem;
  line-height: 1.6rem;
}

.active1 {
  animation: zhuan 40s linear infinite forwards;
}

@keyframes zhuan {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.display {
  position: absolute;
  right: 0.3rem;
  top: 370px;
  z-index: 10;
  width: 5.58rem;
}

.display .header {
  background: #70727A;
  color: #FFFFFF;
  width: 100%;
  height: 1.5rem;
  position: relative;
}

.display .header .left {
  width: 3rem;
  height: 1.5rem;
  font-size: 24px;
  margin-left: 15px;
  line-height: 1.5rem;
  float: left;
}

.display .header .right {
  float: right;
}

.display .header .right .add {
  position: absolute;
  right: 114px;
  top: 20px;
  font-size: 34px;
  font-family: "iconfont" !important;
}

.display .header .right .delete {
  font-size: 20px;
  font-weight: 200;
  right: 20px;
  top: 30px;
}

.display ul.gd {
  width: 100%;
  height: auto;
  background: #70727A;
}

.display ul.gd li {
  width: 100%;
  height: 50px;
  padding: 15px 30px;
  padding-left: 10px;
  cursor: pointer;
  position: relative;
}

.display ul.gd li span {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 30px;
  right: 30px;
  color: #999;
}

.display ul.gd li .sTop {
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #FFFFFF;
}

.display ul.gd li .sBottom {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  color: #878a8c;
}

.display ul.gd li .jt {
  font-family: "iconfont" !important;
  font-size: 20px;
  color: #FFFFFF;
}

.song-list {
  width: 80px;
  height: 20px;
}

.song-list div {
  width: 40px;
  height: 20px;
  float: left;
}
